---
import { getStaticPathsBlogList } from '~/utils/blog';
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import type { Post } from "~/types";

export const getStaticPaths = getStaticPathsBlogList;

type PageProps = {
  currentPage?: number;
  data?: Array<Post>;
  url?: {
    prev?: string;
    next?: string;
  };
};

const { page } = Astro.props as { page: PageProps };
const currentPage = page.currentPage ?? 1;
const title = `Posts${currentPage > 1 ? ` — Page ${currentPage}` : ""}`;

const prevUrl = page.url?.prev ?? '';
const nextUrl = page.url?.next ?? '';
const posts = page.data ?? [];
---

<Layout {title}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      title="Posts"
      subtitle="Random thoughts and ramblings"
    >
    </Headline>
    <BlogList posts={posts} />
    <Pagination prevUrl={prevUrl} nextUrl={nextUrl} />
  </section>
</Layout>
